/* Primary theme  colors */
$containerWidth: 100%;
$primaryBgColor: #dcdde1;
$primaryColor: #141516;
$tabBarBgColor: #f2f2f2;
$inputsBgColor: #f2f2f2;
$tabBarWidth: 750px;
$taBarItemsCount: 5;
$elementsVerticalMargin: 23px;
$elementsHeight: 60px;
$inputHeight: 50px;
$tabBarFontSize: 25px;
$elementsBorderRadius: 24px;
$titleInfinityIconSize: 80px;
$font: lato;
$inputFontSize: 20px;
$errorColor: #c0392b;
$iframeHeight: 350px;
$activeElementColor: darken($primaryBgColor, 80%);
$inactiveElementColor: #323232;
$searchBoxBgColor: rgba(255, 255, 255, 0.137);
$bg: #fff;
$text: #7288a2;
$gray: #4d5974;
$lightgray: #e5e5e5;
$blue: $primaryColor;
